DB_URL=jdbc:postgresql://localhost:5432/fluxfund_saas
DB_USERNAME=fluxfund
DB_PASSWORD=12345678

FLUXFUND_JWT_SECRET=r5W1Q4PuvDypC8qfORMp8wIw7kcZnAVZZd29eOrQ1eo=
FLUXFUND_JWT_ISSUER=fluxfund-api
FLUXFUND_JWT_EXPIRATION=PT1H

CORS_ALLOWED_ORIGINS=http://localhost:5173

APP_STORAGE_LOCAL_ROOT=./storage

JPA_SHOW_SQL=false